@media screen and (max-width: 1024px) and (min-width: 600px) {
	.header {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		justify-content: center;
		align-items: center;
		padding: 30px 60px;
		background-image: url(../img/bgStandBy.jpg);
		background-position: top right;
		background-origin: border-box;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
	}

	.logolgpd {
		grid-column: 1 / -1;
	}

	.header h1 {
		font-size: 30px;
	}

	.tarjaLogos {
		width: 100%;
	}

	.bgHeader {
		display: none;
	}

	.section1 {
		height: auto;
	}

	.sectionText {
		grid-row: 2 / 3;
		grid-column: 1 / -1;
		width: 90%;
	}

	.lockIcon {
		display: none;
	}







	.section2 {
		display: grid;
		grid-auto-flow: row;
		padding: 30px;
	}


.section3 {
	padding: 60px 20px;
	height: auto;
}


	.teamBlocks {
		grid-template-columns: 1fr;
		grid-row-gap: 50px;
		width: 90%;
	}

	.individual {
		border: none;
		padding: 0;
	}

	.individual amp-img {
		width: 150px;
		height: 150px;
	}





	.section4 {
		padding: 20px;
		height: auto;
	}





.section5 {
	height: auto;
}


	.saibaMaisBlocks {
		grid-template-columns: 1fr;
		margin-bottom: 60px;
		width: 80%;
	}


}





























@media screen and (max-width: 599px) and (min-width: 320px) {
	.header {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		justify-content: center;
		align-items: center;
		padding: 30px 10px;
		background-image: url(../img/bgStandBy.jpg);
		background-position: right -130px bottom -20px;
		background-origin: border-box;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
	}

	.logolgpd {
		grid-column: 1 / -1;
		width: 90%;
		margin: 0 auto;
	}

	.header h1 {
		font-size: 20px;
	}

	.tarjaLogos {
		width: 100%;
	}

	.bgHeader {
		display: none;
	}

	.section1 {
		height: auto;
		padding: 60px 0;
	}

	.sectionText {
		grid-row: 3 / 4;
		grid-column: 1 / -1;
		width: 90%;
	}

	.iconLogoSvg {
		padding: 0;
		margin: 0;
	}

	.sectionText h1 {
		font-size: 18px;
	}

	.lockIcon {
		display: none;
	}

	.section1Title {
		font-size: 20px;
		grid-row: 2 / 3;
	}


.agendaWrapper span {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	margin-bottom: 40px;
}


.agendaWrapper span:last-child {
	margin: 0;
}

	.section2 {
		display: grid;
		grid-auto-flow: row;
		padding: 10px;
		margin: 0;
	}

	.section2 h1 {
		font-size: 20px;
		width: 100%;
	}

	.section2 ul {
		margin: 0;
		padding: 0;
		margin: 0 auto;
		width: 90%;
	}

	.section2 ul li span {
		font-size: 18px;
		line-height: 1.4;
		text-align: left;
	}

	.section2 h2 {
		font-size: 18px;
		width: 100%;
	}

	.section3 {
		padding: 60px 20px;
		height: auto;
	}


	.teamBlocks {
		grid-template-columns: 1fr;
		grid-row-gap: 50px;
		width: 90%;
	}

	.individual {
		border: none;
		padding: 0;
	}

	.individual amp-img {
		width: 150px;
		height: 150px;
	}


amp-accordion section p {
	text-align: left;
}



	.section4 {
		padding: 20px;
		height: auto;
	}



	.section4 h1,
	.show-more span,
	.show-less span {
		font-size: 20px;
	}


	.section4 h1 {
		font-size: 25px;
		font-weight: 500;
		color: #fff;
		width: 80%;
	}

.section5 {
	height: auto;
}


.section5 h1 {
	font-size: 20px;
}


.saibaMaisBlock h2 {
	font-size: 20px;
}


	.saibaMaisBlocks {
		grid-template-columns: 1fr;
		margin-bottom: 60px;
		width: 80%;
	}


.daysWrapper {
	grid-template-columns: 1fr;
	grid-row-gap: 30px;
}


	.cta span {
	font-size: 16px;
	color: #fff;
	text-align: center;
}


}